# secrets
.env
.env.*

# node
**/node_modules/

# build
**/.next/
**/dist/
**/build/

.vscode/

# testing
testing/

# logs
*.log

# personal
note.txt
dsa.txt

!dockeker-compose.yml



