# secrets
.env
.env.*

# node
**/node_modules/

# build
**/.next/
**/dist/
**/build/

.vscode/



# testing
testing/

# logs
*.log

# minio runtime data
minio/
minio/.minio.sys/

# user uploaded files
minio/projectend4/avatars/

# personal
note.txt
dsa.txt

!docker-compose.yml



